<h1>My Workouts</h1>

<ul>
  <% @workouts.each do |workout| %>
    <li><%= link_to workout.name, workout_path(workout) %></li>
  <% end %>
</ul>

<%= link_to "New Workout", new_workout_program_workout_path %>
