<h1>New Workout</h1>
 <h2>Exercises</h2>
  <% Exercise.all.each do |exercise| %>
    <div>
      <%= form.check_box :exercise_ids, { multiple: true }, exercise.id, nil %>
      <%= exercise.name %>
    </div>

  <%= form.submit %>
<% end %>
