#authentication{
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;

  .col-12{
    h2{
      color: #C4ED6D;
      font-size: 26px;
    }
    h3{
      margin-top: 1rem;
      margin-bottom: 1rem;
      color: white;
      font-size: 20px;
    }
    margin: 0rem;
    width: 85vw;
  }
  .form-inputs{
    color:#FFFFFF;
    font-size: 14px;
  }

  .button-green {
    align-items: center;
    background-image: linear-gradient(144deg,#C4ED6D, #C4ED6D 50%,#C4ED6D);
    border: 0;
    border-radius: 16px;
    box-sizing: border-box;
    color: #FFFFFF;
    display: flex;
    font-family: Phantomsans, sans-serif;
    font-size: 18px;
    font-weight: bold;
    justify-content: center;
    line-height: 1em;
    max-width: 100%;
    min-width: 140px;
    padding: 10px;
    text-decoration: none;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    white-space: nowrap;
    cursor: pointer;
  }
  .btn-already {
    align-items: center;
    background-image: linear-gradient(144deg,#818181, #818181 50%,#818181);
    border: 0;
    border-radius: 16px;
    box-sizing: border-box;
    color: #FFFFFF;
    display: flex;
    font-family: Phantomsans, sans-serif;
    font-size: 18px;
    font-weight: bold;
    justify-content: center;
    line-height: 1em;
    max-width: 100%;
    min-width: 140px;
    padding: 10px;
    text-decoration: none;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    white-space: nowrap;
    cursor: pointer;
  }
  .transparent {
    background-color: transparent;
    border: 1px solid #C4ED6D;
    color: white;
    border-radius: 16px;
  }

  .transparent::placeholder {
    color: white;
  }

  .form-actions {
    border-color: #C4ED6D;
  }
}
