// Specific CSS for your home-page
.createworkout {
  margin-top: 5px;
  background-color: #C4ED6D;
  color: white;
  padding-bottom: 5px;
  padding-left: 10px;
  padding-top: 5px;
  border-radius: 10px;
  display: flex;
  justify-content: space-between;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.info-card {
  margin-top: 5px;
  background-color: #262626;
  color: white;
  padding-bottom: 40px;
  padding-left: 10px;
  padding-top: 40px;
  justify-content: space-between;
}

.info-card2 {
  margin-top: 5px;
  background-color: #1f201e;
  color: white;
  padding-bottom: 40px;
  padding-left: 10px;
  padding-top: 40px;
  justify-content: space-between;
  border: 1px solid #C4ED6D;
  margin-left: 50px;
  margin-right: 50px;
  margin-top: 30px;
  margin-bottom: 30px;
}

.info-card4 {
  margin-top: 5px;
  background-color: #1f201e;
  color: #C4ED6D;
  justify-content: space-between;
  margin-bottom: 5px;
}

.info-card3 {
  margin-top: 5px;
  background-color: none;

  i {
    font-size: 35px;
    color: #C4ED6D;
  }
}
