.workout-cards{
  padding: 1rem;
  h1,h2,h3,h4,h5,h6{
    color: #C4ED6D;
  }
  p{
    color: white;
  }
  i{
    color: #C4ED6D;
  }
  .button-green{
    margin-top: 2rem;
  }
}

.workout-card{
  display: flex;
  justify-content: space-between;
  border: 1px solid #C4ED6D;
  border-radius: 16px;
  padding-top: 2rem;
  padding-bottom: 2rem;
  padding-left: 1rem;
  padding-right: 1rem;
  margin-top: 2rem;
  h4{
    margin-bottom: 0;
    color: white;
    padding-bottom: 0;
  }
  i{
    color: #C4ED6D;
  }
  .workout-card-links{
    button{
      background-color: transparent;
      border: 0;
    }
  }

  .add-exercise{
    display: flex;
    justify-content: center;
    p{
      margin-bottom: 0.5rem;
      padding-bottom: 0;
      margin-top: 1rem;
    }

  }
  .text-center{
    i{
      margin-top: 0;
      padding-top: 0;
    }
  }
  .fa-pen-to-square{
    margin-left: 0.5rem;
  }
}


.exercises-div{
  border: 1px solid #C4ED6D;
  border-radius: 5px;
  padding: 1rem;
  h6{
    color: white;
    font-size: 20px;
    border-bottom: 1px solid #C4ED6D;
  }
  p{
    font-size: 18px;
    margin: 0 auto;
    margin-bottom: 0;
  }

}

#table {
  border-collapse: separate;
  border-spacing: auto 15px;
  margin: 0;
}



.form-exercise{
  box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
  border-end-end-radius: 16px;
  border-end-start-radius: 16px;
  .back-link{
    color: #C4ED6D;
    margin-top: 1rem;
    margin-bottom: 1rem;
  }
  color: white;
}
#submit-button{
  background-image: linear-gradient(144deg,#C4ED6D, #C4ED6D 50%,#C4ED6D);
  border: 0;
  border-radius: 16px;
  box-sizing: border-box;
  color: #FFFFFF;
  display: flex;
  font-family: Phantomsans, sans-serif;
  font-size: 18px;
  font-weight: bold;
  justify-content: center;
  line-height: 1em;
  max-width: 100%;
  min-width: 140px;
  padding: 10px;
  text-decoration: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  white-space: nowrap;
  cursor: pointer;
}
.button-grey{
  margin-top: 2rem;
  background-image: linear-gradient(144deg,#C1C1C1, #C1C1C1 50%,#C1C1C1);
  border: 0;
  border-radius: 16px;
  box-sizing: border-box;
  color: #FFFFFF;
  display: flex;
  font-family: Phantomsans, sans-serif;
  font-size: 18px;
  font-weight: bold;
  justify-content: center;
  line-height: 1em;
  max-width: 100%;
  min-width: 140px;
  padding: 10px;
  text-decoration: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  white-space: nowrap;
  cursor: pointer;
}

.transparent {
  background-color: transparent;
  border: 1px solid #C4ED6D;
  color: white;
  border-radius: 16px;
}

.transparent::placeholder {
  color: white;
  font-size: 12px;
}
