 <div class="container d-flex">
        <div class="info">
            <div>This year you worked out for <span id="workedHours">X</span> hours.</div>
            <p>Take a look at your previous trainings and see where you spent the most time.</p>
            <div>
                <img src="exercise_image.jpg" alt="Most Done Exercise" width="50" height="50">
                <span>#1</span>
                <span>Exercise Name</span>
            </div>
        </div>
        <div class="trophy">
            <div>You've added <span id="trophiesCount">X</span> trophies to your collection.</div>
            <div>Your trophy cabinet</div>
            <div>
                <img src="platinum_trophy.jpg" alt="Platinum Trophy" width="50" height="50">
                <span>x<span id="platinumCount">X</span></span>
            </div>
            <div>
                <img src="gold_trophy.jpg" alt="Gold Trophy" width="50" height="50">
                <span>x<span id="goldCount">X</span></span>
            </div>
            <div>
                <img src="silver_trophy.jpg" alt="Silver Trophy" width="50" height="50">
                <span>x<span id="silverCount">X</span></span>
            </div>
            <div>
                <img src="bronze_trophy.jpg" alt="Bronze Trophy" width="50" height="50">
                <span>x<span id="bronzeCount">X</span></span>
            </div>
        </div>
    </div>
