
.button_styling {
  font-size: 19px;
  background-color: inherit;
  color: #fff;
  border: none;
  border-radius: 5px;
  padding: 10px 0px;
  cursor: pointer;
}

ul  {
    padding-bottom: 1rem;
    border-bottom: 1px solid rgba(170, 170, 170, 0.5);
    list-style-type: none;
    text-align: left;
    margin-left: 0;
    padding-left: 0;
  }
