.gif-cards{
  border-radius: 16px;
  box-shadow: 0 0 10px $app-color;
  margin: 2.25rem auto;
  .gifs{
    width: 120px;
    border-top-left-radius: 16px;
    border-bottom-left-radius: 16px;
  }
  p{
    text-align: start;
    margin: auto 1rem;
  }
}

#home-background{
  .home-cards{
    padding: 1rem;
    border-radius: 16px;
  }

  h1{
    color: $app-color;
  }

}
