.gif-cards{
  border-radius: 16px;
  margin: 2.25rem auto;
  background-color: white;
  .gifs{
    width: 150px;
    border-top-left-radius: 16px;
    border-bottom-left-radius: 16px;
  }
  h6{
    padding-right: 0.5rem;
    color: black;
    text-align: start;
    margin-left: 1rem;
  }
}

#home-background{
  margin-bottom: 0px;
  .home-cards{
    padding: 1rem;
    padding-bottom: 0;
    background-color: rgb(56, 56, 56);
    border-radius: 16px;
    padding-bottom: 20px;
  }

  h1{
    color: white;
  }

}
