.navbar {
  background-color: rgb(199, 233, 125);
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

ul.navbar-nav {
  font-size: 25px;
  display: flex;
  flex-direction: row;
  list-style: none;
  margin: 0;
  padding: 0;
}

ul.navbar-nav li {
  margin: 0 28px;
}

.navbar-nav a {
  color: inherit;
  text-align: center;
}

.navbar-nav .nav-item {
  display: flex;
  flex-direction: column;
  align-items: center;
}

body {
  text-align: center;
  margin-bottom: 60px;
}
