.navbar {
  background-color: $app-color;
  position: fixed;
  bottom: 0;
  left: 0;
  border-radius: 16px 16px 0 0;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 999;
}

ul.navbar-nav {
  height: 80px;
  font-size: 25px;
  display: flex;
  align-items: center;
  flex-direction: row;
  list-style: none;
  margin: 0;
  padding: 0;
}

ul.navbar-nav li {
  margin: 0 28px;
}

.navbar-nav a {
  color: inherit;
  text-align: center;
}

.navbar-nav .nav-item {
  display: flex;
  flex-direction: column;
  align-items: center;
}

body {
  text-align: center;
  margin-bottom: 60px;
}

.navbar-nav .nav-item {
  display: flex;
  flex-direction: column;
  align-items: center;
}
