.global-container {
  height: 100%;
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 100%;
  padding: 20px;
  background-color: black;
}

.container1 {
  color: white;
  padding-left: 10px;
  padding-top: 5px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  display: flex;
  justify-content: space-between;
}

.container2 {
  color: white;

  a {
    text-decoration: none;
    font-size: 19px;
    color: $app-color;
    font-weight: bold;
  }
}

.container3 {
  background-color: #36373e;
  color: white;
  padding-left: 10px;
  padding-top: 5px;
  border-radius: 15px;
}


.user-info {
  background-color: #36373e;
  display: inline-block;
  width: 100%;
  border-radius: 15px;
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 15px;
  justify-content: left;

  i {
    color: $app-color;
    font-size: 19px;
    vertical-align: super;
  }
}

.user-goal {
  background-color: #36373e;
  display: inline-block;
  width: 100%;
  border-radius: 15px;
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 15px;
  justify-content: left;

  i {
    color: $app-color;
    font-size: 19px;
  }
}

.user-achievements {
  background-color: #36373e;
  display: inline-block;
  width: 100%;
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 15px;
}

.workoutbtn {
  text-align: center;
  background-color: $app-color;
  color: black;
  font-weight: bold;
  width: 100%;
  text-decoration: none;
  padding: 10px;
  display: inline-block;
  border-radius: 10px;
}

.profile-input {
    background-color: transparent;
    /* border: 1px solid $app-color; */
    color: white;
    border-radius: 16px;
    padding: 25px;
  }

  .profile-input-pic {
    background-color: transparent;
    border:none;
    color: white;
    border-radius: 10px;
    background-color: #36373e;
    margin-left: -5px;
  }

  .profile-input::placeholder {
    color: white;
  }

  #profile_avatar {
    width: 150px;
    height: 150px;
    margin-bottom: 20px;
    border-radius: 50%;
    border: 3px solid $app-color;
  }

  #goalSelect {
    display: block;
    justify-content: center;
    flex-direction: column;
    text-align: center;
  }

  .centered-select {
    position: relative;
    top: 20px;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #36373e;
    color: white;
    padding: 5px;
    border-radius: 15px;
    /* border: 1px solid $app-color; */
  }

  #goals {
    color: white;
  }


 .logout{
   font-size: 20px;
   font-weight: bold;

  }
 .logout a:link {
    text-decoration:none;
}
.text{
  color:azure
}

.my-3 {
  font-size: 19px;
}

.profile-grid {
  display: grid;
	grid-template-columns: 1fr 1fr;
	//grid-template-rows: 150px 150px;
	//grid-row-gap: 30px;
	//grid-column-gap: 30px;
	//grid-gap: 30px;
}

.row1 {
  background-color: #36373e;
  color: white;
  text-align: center;
  border-top-right-radius: 16px;
  border-top-left-radius: 16px;
}

.latest-achievement {
  margin-top: 5px;
  background-color:  #36373e;
  color: white;
  display: grid;
  grid-template-columns: 1fr;
  padding-top: 10px;
  padding-bottom: 10px;
  /* border: 1px solid  $app-color; */
  border-bottom: none;
}
