.global-container {
  height: 100%;
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 100%;
  padding: 20px;
  background-color: #36373e;
}

.container1 {
  color: white;
  padding-left: 10px;
  padding-top: 5px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  display: flex;
  justify-content: space-between;
}

.container2 {
  color: white;

  a {
    text-decoration: none;
    font-size: 15px;
    color: #C4ED6D;
    font-weight: bold;
  }
}

.container3 {
  background-color: #272726;
  color: white;
  padding-left: 10px;
  padding-top: 5px;
  border-radius: 15px;
}


.user-info {
  background-color: rgb(65, 65, 65);
  display: inline-block;
  width: 100%;
  border-radius: 15px;
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 15px;
  justify-content: left;
  border: 1px solid #C4ED6D;

  i {
    color: #C4ED6D;
    font-size: 15px;
    vertical-align: super;
  }
}

.user-goal {
  background-color: rgb(65, 65, 65);
  display: inline-block;
  width: 100%;
  border-radius: 15px;
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 15px;
  justify-content: left;
  border: 1px solid #C4ED6D;

  i {
    color: #C4ED6D;
    font-size: 15px;
  }
}

.user-achievements {
  background-color: rgb(65, 65, 65);
  display: inline-block;
  width: 100%;
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 15px;
}

.workoutbtn {
  text-align: center;
  background-color: #8aaa46;
  color: white;
  font-weight: bold;
  width: 100%;
  text-decoration: none;
  padding: 10px;
  display: inline-block;
  border-radius: 10px;
}

.profile-input {
    background-color: transparent;
    border: 1px solid #C4ED6D;
    color: white;
    border-radius: 16px;
  }

  .profile-input-pic {
    background-color: transparent;
    border:none;
    color: white;
    border-radius: 10px;
    background-color: #272726;
    margin-left: -5px;
  }

  .profile-input::placeholder {
    color: white;
  }

  #profile_avatar {
    width: 150px;
    height: 150px;
    margin-bottom: 20px;
    border: 10px solid transparent;
    border-radius: 50%;
  }

  #goalSelect {
    display: block;
    justify-content: center;
    flex-direction: column;
    text-align: center;
  }

  .centered-select {
    position: relative;
    top: 20px;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #272726;
    color: white;
    padding: 5px;
    border-radius: 15px;
    border: 1px solid #C4ED6D;
  }

  #goals {
    color: white;
  }

  #bottom {

  }
