.global-container {
  height: 100%;
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 100%;
  padding: 20px;
  background-color: #36373e;
}

.container1 {
  color: white;
  padding-left: 10px;
  padding-top: 5px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  display: flex;
  justify-content: space-between;
}

.container2 {
  color: white;
  display: flex;
}

.container3 {
  background-color: #272726;
  color: white;
  padding-bottom: 5px;
  padding-left: 10px;
  padding-top: 5px;
}


.user-info {
  background-color: rgb(65, 65, 65);
  display: inline-block;
  width: 100%;
  border-radius: 15px;
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 15px;
  justify-content: left;

  i {
    color: #C4ED6D;
    font-size: 15px;
    vertical-align: super;
  }
}

.user-goal {
  background-color: rgb(65, 65, 65);
  display: inline-block;
  width: 100%;
  border-radius: 15px;
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 15px;
  justify-content: left;

  i {
    color: #C4ED6D;
    font-size: 15px;
    vertical-align: super;
  }
}

.user-achievements {
  background-color: rgb(65, 65, 65);
  display: inline-block;
  width: 100%;
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 15px;
}

.workoutbtn {
  text-align: center;
  background-color: #8aaa46;
  color: white;
  font-weight: bold;
  width: 100%;
  text-decoration: none;
  padding: 10px;
  display: inline-block;
  border-radius: 10px;
}

.profile-input {
    background-color: transparent;
    border: 1px solid #C4ED6D;
    color: white;
    border-radius: 16px;
  }

  .profile-input::placeholder {
    color: white;
  }
