// Graphical variables
@import "config/fonts";
@import "config/colors";
@import "config/bootstrap_variables";

// External libraries
@import "bootstrap";
@import "font-awesome";
@import "simple_calendar";

// Your CSS partials
@import "components/index";
@import "pages/index";

p {
  font-size: 19px;
}
html,body {
  background-color: black;
  height: 100%;
  width: 100%;
}
body{
  background-color: black;
  h1, h2, h3, h4, h5, h6{
    font-family: 'Russo One', sans-serif;
  }
  font-family: 'Poppins', sans-serif;
}
