<div class="container mt-5 mb-4">
     <h2 class="text-center">Achievements Overview</h2>
    <div class="wrapper">
      <div class="py-3 px-3"> <h1>This year you worked out for <span id="workedHours">X</span> hours.</h1>
          <p>Take a look at your previous trainings and see where you spent the most time.</p></div>
      <div class="text-center">
        <h1 class="py-3 px-3">Your favourite exercise</h2>
        <p>Your favourite exercise seems to be -exercise name- which you completed 50 times!</p>
      </div>
      <div class="py-3 px-3"> <p>You've added to your collection<span id="trophyAmount">X</span>trophies</p>

            <span>Check here how all your trophies break down</span></div>
      <div class="text-center py-3 px-3">
        <h2 class="mb-3">Your trophy cabinet</h2>
          <ul class="trophy-list">
            <li>
              <img src="/goldtrophy.png" alt="Platinum Trophy" width="50" height="50">
             <span id="platinumCount">X</span>
          </li>
          <li>
              <img src="gold_trophy.jpg" alt="Gold Trophy" width="50" height="50">
              <span id="goldCount">X</span>
          </li>
          <li>
              <img src="silver_trophy.jpg" alt="Silver Trophy" width="50" height="50">
              <span id="silverCount">X</span>
          </li>
          <li>
              <img src="bronze_trophy.jpg" alt="Bronze Trophy" width="50" height="50">
           <span id="bronzeCount">X</span>
          </li>
          </ul></div>
    </div>
    <h2 class="text-center mt-4"><i class="fa-solid fa-dumbbell"></i> Unlockable Achievements <i class="fa-solid fa-dumbbell"></i></h2>
    <div data-controller="controller">
    <div class="sort-buttons text-center my-4">
 <button  data-action="click->controller#sort" data-url="/achievements/category"  data-sort="category">Sort by Category</button>
  <button  data-action="click->controller#sort" data-url="/achievements/completion"  data-sort="completion">Sort by Completion</button>
  <button  data-action="click->controller#sort" data-url="/achievements/status"  data-sort="status">Sort by Status</button>
</div>

    <div class="achievements">
      <div>Achievement</div>
      <div>Category</div>
      <div>Progress</div>
      <div>Status</div>
    </div>

<div  data-controller-target="achievements">
<% @achievements.each do |achievement| %>
<%= render 'achievement', achievement: achievement  %>
<% end %>
</div>
</div>
